header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
.canvasjs-chart-credit {
   display: none;
}
table { border: none; border-collapse: collapse; }
table td { border-left: 1px solid white; }
table td:first-child { border-left: none; }
table td:last-child { border-left: none; }
table th { border-left: 1px solid white; }
table th:first-child { border-left: none; }
table th:last-child { border-left: none; }
td.lastCol {
	text-align: right;
}
 /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #64b5f6;
}
/* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #64b5f6;
     box-shadow: 0 1px 0 0 #64b5f6;
   }

