<html>
<head>
  <title>College made simple</title>

  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="css/pad.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>

  <!-- Google Sign in-->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="805467826310-4pm5ke6uhnplc5tsm02no22a54n01tau.apps.googleusercontent.com">
  <!-- Your app -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
  <script type="text/javascript" src="javascripts/angularApp.js"></script>
</head>


<body ng-app="materializeApp">
  <!--side nav-->
  <nav class="blue lighten-2" role="navigation" ng-controller="SideBar">
    <div class="nav-wrapper container"><header><a id="logo-container" href="#" class="brand-logo">College Made Simple Alpha 0.0.1</a></header>
      <div>
        <ul id="slide-out" class="side-nav fixed">
          <li>
            <div class="userView">
              <a href="#!school"><img height="200" width="236" src="images/ucsc.jpg"></a>
              <a href="#!user">
                <div class="row valigh-wrapper">
                  <div class="col s4">
                    <img src="images/icon.png" alt="" height="50" width="50" class="responsive-img"> <!-- notice the "circle" class -->
                  </div>
                  <div class="col s8">
                    <span class="grey-text">Sammy Slug</span>
                  </div>
                </div>
              </a>
              <a><span class="grey-text email">SamSlug@ucsc.edu</span></a>
              <!--
              <div class="g-signin2" data-onsuccess="onSignIn"></div>
              <a href="#" onclick="signOut();">Sign out</a>
              <script>
                function signOut() {
                  var auth2 = gapi.auth2.getAuthInstance();
                  auth2.signOut().then(function () {
                    console.log('User signed out.');
                  });
                }
              </script>
            -->
            <google-sign-in-button button-id="signin" options="options"></google-sign-in-button>
            {{test1}}
          </div>
        </li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="#!"><i class="material-icons">cloud</i>Link and Icon</a></li>
        <li><a class="waves-effect" href="#!">Link 2</a></li>
        <li><a class="waves-effect" href="#!">Link 3</a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse "><i class="material-icons black-text">menu</i></a>
    </div>
  </div>
</nav>
<!--end side nav-->
<main>
  <div class="cointainer">
    <div class="section">
      <ui-view></ui-view>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m6">
          <div id="chartContainer1" style="height: 500px; width: 100%;"></div><!-- chart 1 -->
        </div>
        <div class="col s12 m6">
          <div id="chartContainer2" style="height: 500px; width: 100%;"></div><!-- chart 2 -->
        </div>
      </div>
    </div>


    <script type="text/ng-template" id="/home.html">
      <div class="row">
        <div class="col s12 m6">
          <div class="card-panel grey darken-2">
            <span class="white-text">
              <div ng-repeat="post in numbers">
                {{post.title}}
                <span>
                  {{post.jobs}}

                </span>
              </div>
            </span>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card-panel grey darken-2">
            <div class="center">
              <span class="white-text"><font size=+3>Cost</font></span>
            </div>
            <table class="white-text">
              <thead>
                <tr>
                  <th data-field="id">Name</th>
                  <th data-field="price">Price</th>
                  <th data-field="edit"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tuition</td>
                  <td>{{tuition}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit">Edit</a></span></td>
                </tr>
                <tr>
                  <td>Personal</td>
                  <td>{{personal}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit">Edit</a></span></td>
                </tr>
                <tr>
                  <td>Supplies</td>
                  <td>{{supplies}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit">Edit</a></span></td>
                </tr>
                <tr>
                  <td>Rent</td>
                  <td>{{rent}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit">Edit</a></span></td>
                </tr>
                <tr>
                  <td>Transportation</td>
                  <td>{{transportation}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit">Edit</a></span></td>
                </tr>
                <tr>
                  <td>Other</td>
                  <td>{{other}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit">Edit</a></span></td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <th datafield>Total: ${{total}}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/edit.html">
      <div class="row">
        <div class="col s12">
          <div class="card-panel grey white-text darken-2">
            <!-- Edit Form Starts Here -->
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="input1" type="text" class="validate">
                    <label for="input1">Test Placeholder</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="input2" type="text" class="validate">
                    <label for="input2">Test Placeholder2</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input id="input3" type="text" class="validate">
                    <label for="input3">Test Placeholder</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="input4" type="text" class="validate">
                    <label for="input4">Test Placeholder2</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input id="input5" type="text" class="validate">
                    <label for="input5">Test Placeholder</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="input6" type="text" class="validate">
                    <label for="input6">Test Placeholder2</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input id="input7" type="text" class="validate">
                    <label for="input7">Test Placeholder</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="input8" type="text" class="validate">
                    <label for="input8">Test Placeholder2</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input id="input9" type="text" class="validate">
                    <label for="input9">Test Placeholder</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="input10" type="text" class="validate">
                    <label for="input10">Test Placeholder2</label>
                  </div>
                </div>
                <a ng-href="#/home">
                  <button class="btn blue lighten-2 waves-effect waves-light" type="submit" name="action">Save and Return
                    <i class="material-icons right">send</i>
                  </button>
                </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </script>
  </main>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
  <script type="text/javascript" src="js/charts.js"></script>
  <script type="text/javascript" src="js/chartmaker.js"></script>
</body>
</html>