<html>
<head>
  <title>College Made Simple</title>

  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="css/pad.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>

  <!-- Google Sign in-->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="805467826310-4pm5ke6uhnplc5tsm02no22a54n01tau.apps.googleusercontent.com">
  <!-- Your app -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
  <script src="javascripts/Chart.min.js"></script>
  <script src="javascripts/angular-chart.min.js"></script>
  <script type="text/javascript" src="javascripts/angularApp.js"></script>

</head>


<body ng-app="materializeApp">
  <!--side nav-->
  <nav class="blue lighten-2" role="navigation" ng-controller="NavCtrl">
    <div class="nav-wrapper container"><header><a id="logo-container" href="#" class="brand-logo">College Made Simple Alpha 0.0.1</a></header>
      <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
      <div>
        <ul id="slide-out" class="side-nav fixed">
          <li>
            <div class="userView">
             <a href="#!school"><img height="200" width="236" src="images/ucsc.jpg"></a>
             <a href="#!user">
              <div class="row valigh-wrapper">
                <div class="col s4">
                  <img src="images/icon.png" alt="" height="50" width="50" class="responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col s8">
                  <span class="grey-text">Sammy Slug</span>
                </div>
              </div>
            </a>
            <a><span class="grey-text email">SamSlug@ucsc.edu</span></a>
              <!--
              <div class="g-signin2" data-onsuccess="onSignIn"></div>
              <a href="#" onclick="signOut();">Sign out</a>
              <script>
                function signOut() {
                  var auth2 = gapi.auth2.getAuthInstance();
                  auth2.signOut().then(function () {
                    console.log('User signed out.');
                  });
                }
              </script>
            -->
            <google-sign-in-button button-id="signin" options="options"></google-sign-in-button>
          </div></li>
          <li><div class="divider"></div></li>
          <li><a class="waves-effect" href="#!"><i class="material-icons">cloud</i>Link and Icon</a></li>
          <li><a class="waves-effect" href="#!">Link 2</a></li>
          <li><a class="waves-effect" href="#!">Link 3</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse "><i class="material-icons black-text">menu</i></a>
      </div>
    </div>
  </nav>
  <!--end side nav-->
  <main>
    <div class="cointainer">
      <div class="section">
        <ui-view></ui-view>
      </div>
    </div>



    <script type="text/ng-template" id="/home.html">
      <div class="row">
        <div class="col s12 m6">
          <div class="card-panel grey darken-2">
            <div class="center">
              <span class="white-text"><font size=+3>Income</font></span>
            </div>
            <table class="white-text">
              <thead>
                <tr>
                  <th data-field="id">Name</th>
                  <th data-field="price">Price</th>
                  <th data-field="edit"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tuition</td>
                  <td>{{tuition}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit/tuition">Edit</a></span></td>
                </tr>
                <tr>
                  <td>Personal</td>
                  <td>{{personal}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit/personal">Edit</a></span></td>
                </tr>
                <tr>
                  <td>Supplies</td>
                  <td>{{supplies}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit/supplies">Edit</a></span></td>
                </tr>
                <tr>
                  <td>Rent</td>
                  <td>{{rent}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit/rent">Edit</a></span></td>
                </tr>
                <tr>
                  <td>Transportation</td>
                  <td>{{transportation}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit/transportation">Edit</a></span></td>
                </tr>
                <tr>
                  <td>Personal</td>
                  <td>{{personal}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit/personal">Edit</a></span></td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <th datafield>Total: ${{totalOut}}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card-panel grey darken-2">
            <div class="center">
              <span class="white-text"><font size=+3>Cost</font></span>
            </div>
            <table class="white-text">
              <thead>
                <tr>
                  <th data-field="id">Name</th>
                  <th data-field="price">Price</th>
                  <th data-field="edit"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tuition</td>
                  <td>{{tuition}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit/tuition">Edit</a></span></td>
                </tr>
                <tr>
                  <td>Personal</td>
                  <td>{{personal}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit/personal">Edit</a></span></td>
                </tr>
                <tr>
                  <td>Supplies</td>
                  <td>{{supplies}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit/supplies">Edit</a></span></td>
                </tr>
                <tr>
                  <td>Rent</td>
                  <td>{{rent}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit/rent">Edit</a></span></td>
                </tr>
                <tr>
                  <td>Transportation</td>
                  <td>{{transportation}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit/transportation">Edit</a></span></td>
                </tr>
                <tr>
                  <td>Personal</td>
                  <td>{{personal}}</td>
                  <td class="lastCol"><span class="white-text"><a class="blue lighten-2 waves-effect waves-light btn" href="/#/edit/personal">Edit</a></span></td>
                </tr>
              </tbody>
              <tbody>
                <tbody>
                  <tr>
                    <th datafield>Total: ${{totalOut}}</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="section">
            <div class="row">
              <div class="col s12 m6">
                <canvas id="doughnut" class="chart chart-doughnut" chart-data="dataIN"
                chart-labels="labelsIN" chart-click="onClickIN">
              </canvas>
            </div>
            <div class="col s12 m6">
              <canvas id="pie" class="chart chart-pie" chart-data="dataOUT"
              chart-labels="labelsOUT" chart-click="onClickOUT">
            </canvas>
          </div>
        </div>
      </div>
    </div>


  </script>



  <script type="text/ng-template" id="/edit.html">
    <div class="row">
      <div class="col s12">
        <div class="card-panel grey white-text darken-2">
          <div class="center">
            <span class="white-text"><font size=+3>{{title}}</font></span>
          </div>
          <!-- Edit Form Starts Here -->
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input ng-model="title1" type="text" class="validate">
                  <label for="input1">Catagory Name</label>
                </div>
                <div class="input-field col s6">
                  <input ng-model="value1" type="text" class="validate">
                  <label for="input2">Value</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input ng-model="title2" type="text" class="validate">
                  <label for="input3">Catagory Name</label>
                </div>
                <div class="input-field col s6">
                  <input ng-model="value2" type="text" class="validate">
                  <label for="input4">Value</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input ng-model="title3" type="text" class="validate">
                  <label for="input5">Catagory Name</label>
                </div>
                <div class="input-field col s6">
                  <input ng-model="value3" type="text" class="validate">
                  <label for="input6">Value</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input ng-model="title4" type="text" class="validate">
                  <label for="input7">Catagory Name</label>
                </div>
                <div class="input-field col s6">
                  <input ng-model="value4" type="text" class="validate">
                  <label for="input8">Value</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input ng-model="title5" type="text" class="validate">
                  <label for="input9">Catagory Name</label>
                </div>
                <div class="input-field col s6">
                  <input ng-model="value5" type="text" class="validate">
                  <label for="input10">Value</label>
                </div>
              </div>
              <a ng-href="#/home">
                <button ng-click="update()" class="btn blue lighten-2 waves-effect waves-light" type="submit" name="action">Save and Return
                  <i class="material-icons right">send</i>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/register.html">
      <div class="page-header">
      <h1>College Made Simple</h1>
      </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="register()"
      style="margin-top:30px;">
      <h3>Register</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Username"
        ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Password"
        ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </script>

  <script type="text/ng-template" id="/login.html">
    <div class="page-header">
      <h1>Flapper News</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</script>
</main>

<!--
<script type="text/javascript" src="js/init.js"></script>
<script type="text/javascript" src="js/charts.js"></script>
<script type="text/javascript" src="js/chartmaker.js"></script>
-->

</body>
</html>